h1 {
    text-align: center;
    color: #333;
  }
  
  h2 {
    text-align: center;
    color: #555;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #eaeaea;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  